

<div class="cover-container d-flex w-10 h-10 p-3 mx-auto flex-column">
    <form class="form-signin">
     
      <h1 class="h3 mb-3 font-weight-normal">Balance ton gossip</h1>
      <div class="form-row align-items-center">
            <label class="sr-only" for="inlineFormInput">Balance ton Gossip</label>
            
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Le roi de France est mort ">
      
     <button class="btn btn-lg btn-primary btn-block" type="submit"> Balance !</button>
      <div class="checkbox mb-3">

      </div>
     
      
    </form>
</div>




  

